.card-posts{
    font-family:Arial, Helvetica, sans-serif;
    width: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: center;    
    align-items: center;        
    padding: 5px;
    cursor: pointer;
}

.card-posts:hover{
    background-color: #a9d7ff;
}

.poster-book{
    width: 100px;
}

.about-book{
    padding: 5px;
}

.about-book-text{
    font-size: 13px;
}

.sattus-book{
    color: rgb(164, 20, 20);
}

.persons-read{
    width: 15px;
    height: 15px;
    border-radius: 100%;
}