.app-bible{
    display: flex;
    justify-content: center;    
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.title-cap-bible{
  display: flex;
  justify-content: center;    
  align-items: center;
}

.filters-selectors{
    display: flex;
    justify-content: center;    
    align-items: center;
}

.content-verses{
    display: flex;
    justify-content: center;    
    align-items: center;
    width: 500px;
}
  
  .text-verse {
    display: flex;
    align-items: left;
    justify-content: left;
    width: 500px;
    margin: 5px 0;
    padding: 3px;
    font-size: 18px;
  }

  .text-verse:hover{
    background-color: aliceblue;
  }

  select{
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(239, 252, 252);
    margin: 5px 0;
  }

  option{
    background-color: rgb(239, 252, 252);
    padding: 5px;
    border-radius: 10px;
  }

  .version-selectors{
    display: flex;
    justify-content: center;    
    align-items: center;
    margin: 15px 0;
  }

  .back-cap-full{
    display: flex;
    justify-content: center;    
    align-items: center;
    background-color: rgb(239, 252, 252);
    border: solid 1px black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
  }

  .verse-intro{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.314);
    padding-right: 3px;
  }

  .button-bible{
    background-color: rgb(239, 252, 252);
    border: solid 1px black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
  }

  .verse-explanation{
    position: fixed;
    bottom: 3%;
    left: 0%;
    width: auto;
    height: 200px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    border: solid 2px black;
    overflow-y: auto;
    margin: 3%;
    .close-button{
      margin-top: -10px;
      cursor: pointer;
    }
  }

  .toltips-verses{
    overflow-y: auto;
    display: flex;
    h3{
      margin-left: 4px;
    }
  }

  .button-verse-explanations{
    padding: 10px;
    cursor: pointer;
  }

.button-verse-explanations:hover{
  background-color: black;
  color: white;
}

.bar-conf-bible{
  display: flex;
}
  
  @media (max-width: 768px) {
    .content-verses{
      display: flex;
      justify-content: center;    
      align-items: center;
      width: 100%;
  }
    
    .text-verse {
      display: flex;
      align-items: left;
      justify-content: left;
      width: 100%;
    }

    .verse-explanation{
      position: fixed;
      bottom: 15%;
      left: 0%;
      width: auto;
      height: 200px;
      background-color: white;
      padding: 10px;
      border-radius: 8px;
      border: solid 2px black;
      overflow-y: auto;
      margin: 2%;
    }

    .button-verse-explanations{
      min-width: 40%;
    }

    .toltips-verses{
      width: 98%;
      overflow-y: auto;
    }
  }